<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020663211509-a8gh4es06jf86uut21ag73k5u2hikfib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020663211509-a8gh4es06jf86uut21ag73k5u2hikfib</string>
	<key>API_KEY</key>
	<string>AIzaSyDb-5DpM4HK-wU0n1LmR1_oGgqjWEN3Y6U</string>
	<key>GCM_SENDER_ID</key>
	<string>1020663211509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanednyapp</string>
	<key>PROJECT_ID</key>
	<string>sanedny-9e95e</string>
	<key>STORAGE_BUCKET</key>
	<string>sanedny-9e95e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020663211509:ios:a7a007767b503dae2facbc</string>
</dict>
</plist>